#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#components-layout-demo-top-side-2 {
  height: 100%;
}

.main-content {
  width: 100%;
  position: relative;
}

.main-content > #app {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.site-layout-background {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.layout {
  height: 100%;
}
.content {
  padding: 0px 50px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.header {
  position: relative;
}
.logout {
  position: absolute;
  height: 64px;
  width: 100px;
  right: 0;
  top: 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
